configparser
pyinstaller
numpy
pandas
matplotlib
scikit-learn
scikit-learn-extra
spacy
spacy_syllables
textacy
scispacy
nltk
benepar
transformers
wn
networkx
scipy
openpyxl
requests
regex
setuptools
seaborn
protobuf~=3.20.0
protobuf==4.23.2