pyinstaller~=5.11.0
configparser~=5.3.0
pandas~=2.0.2
numpy~=1.24.3
matplotlib~=3.7.1
spacy~=3.5
spacy_syllables~=3.0.1
textacy~=0.13.0
benepar~=0.2.0
nltk~=3.7
wn~=0.9.1
networkx~=3.1
scipy~=1.10.1
openpyxl==3.1.2
requests~=2.31.0
scikit-learn~=1.2.2
scikit-learn-extra
regex~=2023.5.5
setuptools~=65.5.1
transformers
seaborn~=0.12.2
scispacy~=0.5.1
protobuf~=3.20.0
